# database
MONGODB_CONNECTION=

# server
PORT=
NODE_ENV=

# smtp
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# secrets
JWT_SECRET=
FIREBASE_SERVICE_ACCOUNT_KEY_PATH=

# frontend
FRONTEND_URL=

# sign in with google
GOOGLE_CLIENT_ID=